
<!-- this page is shown after new order is created -->
<h1>Here is your order</h1>

<p>ID: <%= @order['id'] %></p>
<p>User ID: <%= @order['user_id'] %></p>
<p>Product ID: <%= @order['product_id'] %></p>
<p>Quantity: <%= @order['quantity'] %></p>
<p>Subtotal: <%= @order['subtotal'] %></p>
<p>Tax: <%= @order['tax'] %></p>
<p>Total: <%= @order['total'] %></p>
<p>Email: <%= @order['user']['email'] %></p>
<p>Product Name: <%= @order['product']['name'] %></p>


