
<% @products.each_slice(2) do |two_products|%>
<div class="row">
<% @products.each do |product|%>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= product['name'] %></a></h5>
        <p class="card-text"><%= product['description'] %></p>
        <h3>Price: <%= product['price'] %> <% if product["formatted"]["is_discounted?"] %>
    <h4 style="color: red;">Discounted Item!</h4>
    <% else %>
    <h4 style="color: green;">Everyday Value!</h4>
  <% end %>
  <% product['images'].each do |image| %>
  <img style="height:100px;"src= "<%= image['image_url'] %>">
  <% end %>
        <a href="/client/products/<%=product['id']%>" class="btn btn-primary">View Product Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%end%>