<p>This is your recipe</p>

<p>id: <%= @products['id'] %></p>
<p>name: <%= @products['name'] %></p>
<p>price: <%= @products['price'] %></p>
<p>description: <%= @products['description'] %></p>
<p>image_url: <%= @products['image_url'] %></p>
  