



<h2><%= @product["name"] %></h2>
<h2>Made by: <%= @product['supplier']['name'] %></h2>
  <h2>Price: <%= @product['price'] %> <% if @product["formatted"]["is_discounted?"] %>
    <h1 style="color: red;">Discounted Item!</h1>
    <% else %>
    <h1 style="color: green;">Everyday Value!</h1>
  <% end %>
  <h4>Tax: <%= @product["formatted"]["tax"] %></h4>
<h4>Total: <%= @product["formatted"]["total"] %></h4>
  <h3><%= @product['description'] %></h3>
 <% @product['images'].each do |image| %>
  <img src= "<%= image['image_url'] %>">
  <% end %>

  
<a href= "/client/products/<% @product['id']%>/edit">Edit</a>
<a href="/client/products/<%= @product['id'] %>" data-method="delete">Delete</a>

<%= form_tag "/client/carted_products", method: :post do %>

<p>product_id:</p> <input type="text" name="product_id" />

<p>quantity: </p> <input type="text" name="quantity" />
<input type="submit" value="Add product to cart" />
<% end %>
