<h1>This product has been added to your cart</h1>

<p>ID: <%= @carted_product['id'] %></p>
<p>User ID: <%= @carted_product['user_id'] %></p>
<p>Product ID: <%= @carted_product['product_id'] %></p>
<p>Quantity: <%= @carted_product['quantity'] %></p>
<p>status: <%= @carted_product['status'] %></p>